rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /experience/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /portfolio/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /certs/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
